# Clerk Authentication
# Find this in your Clerk Dashboard -> API Keys
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# PostHog Analytics
EXPO_PUBLIC_POSTHOG_API_KEY=phc_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
EXPO_PUBLIC_POSTHOG_HOST_URL=https://us.i.posthog.com
EXPO_PUBLIC_LOGO_DEV_PUBLIC_KEY = pk_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx